<h1>Editing Course</h1>
<br>
<%= render 'form', course: @course %>
<br>
<%= link_to 'Show', @course, class:"btn btn-secondary" %>
<%= link_to 'Delete', @course, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger btn" %>
